.red{
  color: #6c3f53;
  text-decoration: none;
  font-weight: bold;
}

.blue{
  color: #2e5871;
  text-decoration: none;
  font-weight: bold;
}

.gray{
  color: #424a4d;
  text-decoration: none;
  font-weight: bold;
}

.orange{
  color: #bb6d3c;
  text-decoration: none;
  font-weight: bold;
}


  